@import "../variables";

.block {
  background: color(bg-block);

  .block-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    border-bottom: 2px solid color(bg-block-headline);
    height: 2.6rem;
    font-size: 1.2rem;

    .block-header-button-list {
      display: flex; 
      flex-direction: row-reverse;
      align-items: center;
      padding-right: 0.6rem;
      height: 90%;
    }

    .block-header-button {
      color: black;
      border: 1px solid color(bg-button);
      margin: 0 0.75rem;
      text-decoration: none;
      font-size: 0.95rem;
      transition: background-color duration(hover-highlight) ease;
      cursor: pointer;

      &.icon-only {
        height: 1.4rem;
        width: 1.4rem;
        margin-right: 0.3rem;
      }
    }
  }

  .block-body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1em;
  }
}



