@import "../variables";

.page-auth {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem 3rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  

  .link-under-input {
    text-decoration: underline;
    display: block;
    text-align: right;
    width: 100%;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    color: #444444;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    border-radius: 1rem;
    background-color: #DDDDDD;
    margin-left: 0;
    outline: none;
    border: none;
  }

  input[type="text"]:focus, input[type="password"]:focus {
    background-color: #EEEEEE;
  }

  input[type="button"] {
    color: white;
    width: 70%;
    border-radius: 1rem;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
  }

  input[type="button"]:hover {
    color: black;
  }
}
