.block-header {
    border-bottom: 0.1em solid  #edeef0;
    padding: 0 1em 0.1em 1em;
    font-size: 1.2em;
    margin: 0.5em 0.5em 0.1em 0.5em;
}

.block-body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1em;
}

.block {
    background: white;
    font-family: "Lucida Sans Unicode", sans-serif;
}

.input-text {
    display: block;
    outline: none;
    border: 1px solid rgb(215, 215, 215);
    margin-bottom: 1.2em;
    height: 2em;
    width: 20em;
    background: white;
    padding: 0 0.5em;
}

.input-text:focus {
    border: 1px solid cornflowerblue;
}

.input-label {
    font-size: 0.9em;
    display: block;
    margin-bottom: 0.2em;
}

.input-button {
    display: block;
    background: transparent;
    border: 1px solid #CCCCCC;
    padding: 0.3em 0.5em;
    color: inherit;
    cursor: pointer;
    margin: 2.5em auto 0 auto;
    transition: background-color 0.5s ease;
}

.input-button:hover {
    background-color: rgb(237, 238, 240);
}

.form-base {
    color: rgb(87, 87, 87);
    padding: 0.5em 1em 1em 1em;
}