@using Zdimk.Abstractions.Dtos

<div class="l-albums-grid">
    @if (Albums != null)
    {
        @foreach (var album in Albums)
        {
            <div class="album-card">
                <div class="album-info">
                    <p class="name">@album.Name</p>
                    <p class="description">@album.Description</p>
                </div>
                <a href="/albums/@album.Id.ToString()">
                    @if (!string.IsNullOrEmpty(album.CoverUrl))
                    {
                        <img class="album-cover" src=@album.CoverUrl/>
                    }
                    else
                    {
                         <img class="album-cover" src="/style/images/photo.svg"/>
                    }
                  
                </a>
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public IEnumerable<AlbumDto> Albums { get; set; }

}