@using Zdimk.BlazorApp.Dtos

<div class="album-preview">
    <div class="album-info">
        <p class="album-name">@Album.Name</p>
        <p class="album-description">EFweferjafdwjbefhbwefbdkfjegb,gnfdmgnrkjgnjrtbgre</p>
    </div>
    
    <img class="album-cover" src="http://www.dwightyoakam.com/sites/g/files/g2000004806/f/styles/instagram_photo/public/sample_03.jpg?itok=4XiOQ-2O" alt="Album cover"/>
</div>

@code
{
    [Parameter]
    public AlbumDto Album { get; set; }
}