@using Zdimk.Abstractions.Dtos

<div class="l-albums-grid">
    @if (Albums != null)
    {
        @foreach (var album in Albums)
        {
            <div class="album-card">
                <div class="album-info">
                    <p class="name">@album.Name</p>
                    <p class="description">@album.Description</p>
                </div>
                <a href="/albums/@album.Id.ToString()">
                    <img class="album-cover" src="https://i.pinimg.com/236x/25/a1/87/25a187e4be20a2416019545dfabf449e--cat-houses-persian-cats.jpg"/>
                </a>
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public IEnumerable<AlbumDto> Albums { get; set; }

}