@using Zdimk.BlazorApp.Dtos.Commands

<div class="l-album-edit album-edit">
    @if (Model != null)
    {
        <a href="#" class="l-left">
            <img class="album-cover" src="https://vk.com/sticker/1-17761-128" alt="Album cover"/>
        </a>

        <form class="l-right">
            <label> Title </label>
            <input type="text" @bind=Model.Name/>
            <label> Description </label>
            <textarea @bind=Model.Description> </textarea>
        </form>


        <div class="l-buttons buttons">
            <input type="button" value="Save" @onclick=OnSubmit/>
        </div>
    }
</div>


@code
{
    [Parameter]
    public CreateAlbumCommand Model { get; set; }
}