@using Zdimk.BlazorApp.Dtos.Queries

@if (Model != null)
{
    <form class="l-auth-form auth-form">
        <label>Login</label>
        <input tabindex="1" type="text" @bind=Model.Login/>
        <a class="link-under-input" tabindex="4" href="#"> Registration </a>

        <label>Password</label>
        <input tabindex="2" type="password" @bind=Model.Password/>
        <a class="link-under-input" tabindex="5" href="#"> Forgot password ? </a>

        <input tabindex="3" type="button" @onclick=OnSubmit value="Submit"/>
    </form>
}

@code
{
    [Parameter]
    public GetJwtTokenPairQuery Model { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }
}