<div class="navbar-container">
    <nav class="navbar-nav">
        <span class="navbar-hamburger" @onclick=ToggleIsCollapsed>
            <span class="navbar-hamburger-line"></span>
            <span class="navbar-hamburger-line"></span>
            <span class="navbar-hamburger-line"></span>
        </span>

        <ul class="navbar-link-list @NavListCollapsedToggleCss">
            <li class="navbar-link">
                <a href="/">Home</a>
            </li>
            <li class="navbar-link">
                <a href="/upload-picture">Upload</a>
            </li>
            <li class="navbar-link navbar-link-right">
                <a href="/auth">Sign in</a>
            </li>
        </ul>
    </nav>
</div>

@code {

    bool IsCollapsed = true;
    string NavListCollapsedToggleCss => IsCollapsed ? "navbar-link-list-collapsed" : "";

    private void ToggleIsCollapsed()
    {
        IsCollapsed = !IsCollapsed;
        StateHasChanged();
    }
}