<div class="navbar-container">
   
    <span class="hamburger" @onclick=ToggleIsCollapsed>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </span>

    <nav class="navbar @IsCollapsedToggleCss">
        
        <ul class="nav-list">
            <li class="nav-item"><a class="link" href="/">Home</a></li>
            <li class="nav-item"><a class="link" href="/upload-picture">Upload</a>
            </li>
        </ul>

        <ul class="nav-list-right">
            <li class="nav-item">
                @if (!string.IsNullOrEmpty(AuthorizedUserName))
                {
                    <a class="link" href="/users/@AuthorizedUserName"> @AuthorizedUserName </a>
                }
                else
                {
                    <a class="link" href="/auth">Sign in</a>
                }

            </li>
        </ul>

    </nav>
</div>

@code {


    string IsCollapsedToggleCss => IsCollapsed ? "is-collapsed" : "";


}