<nav>
    <div id="hamburger" class="hamburger" @onclick="ToggleCollapsed">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links @IsOpenCssClass">
        <li class="@FadeCssClass"><a href="/">Home</a></li>
        <li class="@FadeCssClass"><a href="/auth">Sign in</a></li>
        <li class="@FadeCssClass"><a href="/upload-picture">Upload</a></li>
    </ul>
</nav>

@code {

    bool _isCollapsed = true;

    string IsOpenCssClass => _isCollapsed ? "" : "open";
    string FadeCssClass => _isCollapsed ? "" : "fade";
    
    private void ToggleCollapsed()
    {
        _isCollapsed = !_isCollapsed;
    }

}