@using Zdimk.Abstractions.Dtos

<div class="l-picture-grid">
    @if (Pictures != null)
    {
        @foreach (var picture in Pictures)
        {
            <div class="album-card">
                <div class="album-info">
                    <p class="name">@picture.Name</p>
                    <p class="description">@picture.Description</p>
                </div>
                <a href=@picture.Url>
                    <img class="album-cover" src=@picture.Url/>
                </a>
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public IEnumerable<PictureDto> Pictures { get; set; }

}