@using Zdimk.Abstractions.Dtos

<div class="l-picture-grid">
    @if (Pictures != null)
    {
        @foreach (var picture in Pictures)
        {
            <div class="image-card @IsEditableCss">
                <div class="image-info">
                    <p class="name">@picture.Name</p>
                    <p class="description">@picture.Description</p>
                </div>
                <div class="edit-button-list">
                    <span class="close-icon" @onclick="async () => await DeleteImage.InvokeAsync(picture)"></span>
                </div>
                <a href=@picture.BigPictureUrl>
                    <img class="cover" src=@picture.SmallPictureUrl/>
                </a>
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public IEnumerable<PictureDto> Pictures { get; set; }


    [Parameter]
    public EventCallback<PictureDto> DeleteImage { get; set; }
    
    [Parameter]
    public bool IsEditable { get; set; } = true;

    private string IsEditableCss => IsEditable ? "is-editable" : "";
}