@using Zdimk.BlazorApp.Dtos
<div class="l-album-view">
    @if (Pictures != null)
    {
        @foreach (var picture in Pictures)
        {
            <div class="album-card">
            <div class="album-info">
                <p class="name">@picture.Name</p>
                <p class="description">@picture.Description</p>
            </div>

            <img class="album-cover" @onclick="async () => await ShowFullPicture(picture.Url)" src="@picture.Url" alt="Album cover"> </img>
            </div >
        }
    }
    else
    {
        <h3>Nothing here yet...</h3>
    }
</div>

@code {

    [Parameter]
    public ICollection<PictureDto> Pictures { get; set; }
    
    [Parameter]
    public Func<string, Task> ShowFullPicture { get; set; }

}