@mixin icon
{
  background-size: 100%;
  background-repeat: no-repeat;
}

.add-icon {
  background-image: url("../icons/add.svg");
  @include icon;
}

.close-icon {
  background-image: url("../icons/close.svg");
  @include icon;
}

.pencil-icon {
  background-image: url("../icons/pen.svg");
  @include icon;
}

