.auth-under-input-link {
    text-decoration: underline;
    text-align: right;
    display: block;
    cursor: pointer;
    font-size: 0.7em;
    margin-top: -0.9em;
    color: #444444;
}

.auth-under-input-link:hover {
    color: black;
}

.auth-submit {
    margin-left: auto;
    font-size: 0.9em;
}