.navbar-container {
    background: none;
    width: 100%;
    height: 2.8em;
    font-size: 1.2em;
}

.navbar-nav {
    background: rgba(0, 0, 0, 0.85);
    position: relative;
    height: 100%;
}

.navbar-link-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.navbar-link {
    margin: 0 1em;
}

.navbar-link a {
    color: white;
    height: 100%;
    text-decoration: none;
    padding: 0.4em 1em;
}

.navbar-link a:hover {
    color: lightcoral;
}

.navbar-link-right {
    margin-left: auto;
}

@media screen and (max-width: 768px) {

    .navbar-container {
        height: 2.5em;
        font-size: 1.4em;
    }

    .navbar-nav {
        position: fixed;
        height: 2.5em;
        width: 100%;
        z-index: 9999;
        top: 0;
    }

    .navbar-hamburger {
        position: fixed;
        top: 0.6em;
        right: 1em;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        cursor: pointer;
    }

    .navbar-hamburger-line {
        display: block;
        background-color: white;
        height: 2px;
        width: 30px;
        margin-top: 6px;
    }

    .navbar-hamburger:hover .navbar-hamburger-line {
        background-color: lightcoral;
    }

    .navbar-link-list-collapsed .navbar-link {
        margin-right: -100vw;
    }

    .navbar-link-list {
        flex-direction: column;
        align-items: normal;
        position: relative;
        top: 2.5em;
    }

    .navbar-link {
        margin: 0 0 0 auto;
        background-color: rgba(0, 0, 0, 0.85);
        width: 60%;
        padding: 0;
        border-bottom: 1px solid #AAAAAA;
        border-top: 1px solid #AAAAAA;
        display: block;
        transition: margin-right 0.5s ease;
    }

    .navbar-link a {
        margin: 0;
        padding: 0.7em 0 0.7em 0;
        width: 100%;
        text-align: center;
        display: block;
    }
}