@page "/Users/{UserName}/Albums"
@page "/"

<div class="p-albums-root">
    <div class="block p-albums-block-albums">
        <p class="block-header"> Albums of @UserName </p>
        <div class="block-body">
            <div class="p-albums-pictures">
                @if (Albums != null)
                {
                    foreach (var album in Albums)
                    {
                        <AlbumPreview Album=album/>
                    }
                }
                else
                {
                    <h3>Nothing here yet...</h3>
                }
            </div>
        </div>
    </div>

    <div class="block p-albums-block-tags">
        <p class="block-header"> Tags </p>
        <div class="block-body p-albums-tags">
            Nothing yet...
        </div>
    </div>
</div>