@page "/Auth"


<div class="l-auth-page">
    <div class="block">
        <p class="block-header"> Sign in </p>
        <div class="block-body">
            <AuthForm Model="this.Model" OnSubmit=OnSubmit/>
        </div>
    </div>
</div>