@page "/"
@using MediatR
@using Zdimk.Application.Frontend.Services
@inject IMediator Mediator
@inject IAuthService Auth
@inject  IJSRuntime JsRuntime

<CreateAlbumModal IsVisible=ShowCreateAlbumModalToggle Hide=HideCreateAlbum AlbumCreated=OnAlbumCreated/>

<div class="l-page-albums">
    <div class="l-albums albums-grid">
        <div class="block">
            <div class="block-header">
                Albums
                <div class="block-header-button-list">
                    <span class="block-header-button icon-only add-icon tooltip" @onclick=ShowCreateAlbum>
                        <span class="tooltip-text">Create album</span>
                    </span>
                    <span class="block-header-button icon-only pencil-icon tooltip" @onclick=ToggleIsEditMode>
                        <span class="tooltip-text">Edit albums</span>
                    </span>
                </div>
            </div>
            <div class="block-body">
                <AlbumsGrid Albums=Albums DeleteAlbum=DeleteAlbum IsEditable=EditAlbums/>
            </div>
        </div>

    </div>
    <div class="l-tags">
        <div class="block">
            <div class="block-header">
                <p> Tags </p>
            </div>
            <div class="block-body">
                <TagList/>
            </div>
        </div>
    </div>
</div>