@page "/"

<div class="l-page-albums">
    <div class="l-albums albums-grid">
        <div class="block">
            <div class="block-header">
                Albums
                <div class="block-header-button-list">
                    <span class="block-header-button icon-only add-icon"></span>
                </div>
            </div>
            <div class="block-body">
                <AlbumsGrid/>
            </div>
        </div>

    </div>
    <div class="l-tags">
        <div class="block">
            <div class="block-header">
                <p> Tags </p>
            </div>
            <div class="block-body">
                <TagList/>
            </div>
        </div>
    </div>
</div>