@page "/albums/{AlbumIdString}"
@using Zdimk.BlazorApp.Abstractions
@inject IUserService UserService
@inject IJSRuntime JsInterop
@inject IGalleryService Gallery


<div class="l-home-page">
    <div class="block">
        <div class="block-header">
            <p> Album </p>
            <div class="block-header-button-list">
                <span class="block-header-button icon-only add-icon" @onclick=ShowOpenFileDialog title="Add album"/>
            </div>
        </div>
        <div class="block-body">
            @if (!UploadMode)
            {
                <PictureGrid AlbumId=AlbumId ShowFullPicture=ShowFullPicture/>
            }
            else
            {
                <div class="UploadedVisibleCss">
                    <UploadPictureGrid Pictures=JustUploaded/>
                </div>
            }
            <InputFile multiple class="collapsed" id="fileUpload" OnChange="OnFileChanged"/>
        </div>
        <div class="@ShitHiddenToggle">
            <FullPicture Model=@PictureUrl/>
        </div>
    </div>
</div>


@code
{
    [Parameter]
    public string AlbumIdString { get; set; }

    bool Shit = true;

    bool UploadMode = false;

    string UploadedVisibleCss => UploadMode ? "" : "collapsed";

    string ShitHiddenToggle => Shit ? "" : "";

    public string PictureUrl { get; set; }

    private Guid AlbumId => Guid.Parse(AlbumIdString);


}