@page "/albums/{AlbumId}"

@using MediatR
@using Zdimk.Application.Frontend.Services
@inject IMediator Mediator
@inject IAuthService Auth
@inject  IJSRuntime JsRuntime
@inject  NavigationManager NavManager


<div class="l-page-albums">
    <div class="l-pictures pictures-grid">
        <div class="block">
            <div class="block-header">
                Pictures
                <div class="block-header-button-list">
                    <span class="block-header-button icon-only add-icon" @onclick="UploadPictureClicked" ></span>
                </div>
            </div>
            <div class="block-body">
                <PicturesGrid Pictures=Pictures/>
            </div>
        </div>

    </div>
    <div class="l-tags">
        <div class="block">
            <div class="block-header">
                <p> Tags </p>
            </div>
            <div class="block-body">
                <TagList/>
            </div>
        </div>
    </div>
</div>
