@page "/upload-picture"



<form>
    <label for="name"></label>
    <input name="name" type="text" @bind=Command.Name/>
    
    <select id="albums" @bind=Command.AlbumId>
        @if (AvailableAlbums != null)
        {
            @foreach (var album in AvailableAlbums)
            {
                <option value=@album.Id> @album.Name</option>
            }
        }
    </select>

    <InputFile OnChange="OnFileChanged"/>
    <button type="button" @onclick="OnSubmit" > Submit !</button>
</form>