@page "/user-search"

<div class="p-user-search-root">
    <div class="block p-user-search-block-users">
        <p class="block-header"> Users </p>
        <div class="block-body p-user-search-users">

        </div>
    </div>

    <div class="block p-user-search-block-params">
        <p class="block-header"> Search parameters </p>
        <div class="block-body p-user-search-params">

        </div>
    </div>
</div>